@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication2.Models.CalcViewModel


<h2>PassUsingModel</h2>

Rand Value First : @Model.A <br />
Rand Value Second : @Model.B <br />

Add : <br />
@Model.A + @Model.B = @Model.Add <br />

Sub : <br />
@Model.A - @Model.B = @Model.Sub <br />

Mult : <br />
@Model.A * @Model.B = @Model.Mult <br />

Div : <br />
@if (double.TryParse(Model.Div, out _))
{
    @:@Model.A / @Model.B = @Model.Div
}
else
{
    @:@Model.A / @Model.B = деление на 0
}
<br />
